
<div style="width:400px;height:300px;position:relative">
  <label *ngFor="let item of photoAlt ;let i = index" [for]="item.id" (click)="chooseItem(item,i)">
    <input type="radio" name="myFruit" [(ngModel)]="fruitName" [id]="item.id" [value]="item.id" >
    <span [style.color]="item.show ? 'green' : 'red'">{{item.id}}</span>
    <div [ngStyle] ="setStyle()">
      <img *ngIf="item.show" [src]="item.imgUrl" alt="" width="200px">
    </div>
  </label>
      <p [ngSwitch]="fruitName">
        <span *ngSwitchCase="'苹果'">苹果</span>
        <span *ngSwitchCase="'雪梨'" >雪梨</span>
        <span *ngSwitchCase="'香蕉'" >香蕉</span>
        <span *ngSwitchCase="'百香果'">百香果</span>
        <span *ngSwitchCase="'火龙果'">火龙果</span>
        <span *ngSwitchDefault>other</span>
      </p>

</div>
    